@import "../../../../styles.scss";
.menu{
    display: flex;
    /*justify-content: space-between;*/
    background-color:$color-gradient2;
    color: white;
   justify-content: center;
    a{
        margin-right:10px;
        text-decoration: none;
        color: white;
        padding: 12px;
       font-size: 20px;

        &:hover{
            background-color: rgb(90, 85, 85);
        }
    }
}

