div{
    text-align: center;
    background-color: rgb(71, 69, 67);
   /* -webkit-box-shadow: 14px 10px 13px -3px rgba(0,0,0,0.75);
    -moz-box-shadow: 14px 10px 13px -3px rgba(0,0,0,0.75);
    box-shadow: 14px 10px 13px -3px rgba(0,0,0,0.75);  */
    margin-top: auto;
    height: 3rem;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    padding-top: 50px;
}

p{
    color: white;
    vertical-align: middle;
    font-size: 1rem;
    padding: 0;
    margin: auto;
}