<mat-card class="card">
    <mat-card-header>
      <ng-content select="mat-card-title"></ng-content>
      <!-- <ng-content select="mat-card-subtitle"></ng-content>-->
    </mat-card-header>
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <ng-content select="p"> <!--<p> </p>-->

      </ng-content>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button><i class="material-icons" (click)="addCart()">add_shopping_cart</i></button>
      <button mat-button><i class="material-icons">favorite</i></button>
    </mat-card-actions>
  </mat-card>
