@import "../../../styles.scss";
.card {
    max-width: 400px;
    width:150px;
    margin: 10px;
    background-color:$color-gradient3;
    border-radius: 10px;
  }
  
.header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }

  :host{
   display: flex;
   flex-wrap: wrap;
}

mat-card-actions{
  display: flex;
  justify-content: space-around;
}
mat-card-header, mat-card-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}