<nav class="container" >
  <mat-nav-list class="nav-list">
    <div>
      <a mat-list-item routerLink="home" class="menuContent">
        <i class="material-icons">home</i>
        Home
      </a>
    </div>
    <div>
      <a mat-list-item routerLink="games">
        <i class="material-icons">videogame_asset</i>
        Games
      </a>
    </div>
    <div>
      <a mat-list-item routerLink="orders">
        <i class="material-icons">receipt</i>
        Meus Pedidos
      </a>
    </div>
    <div>
      <a mat-list-item href="" target="_blank">
        <i class="material-icons">code</i>
        Github
      </a>
    </div>
    <div>
      <a *ngIf="isAdmin" mat-list-item routerLink="admin">
        <i class="material-icons">admin_panel_settings</i>
        Admin
      </a>
    </div>
    <div>
      <a mat-list-item routerLink="cart">
        <i class="material-icons">shopping_cart</i>
      </a>
    </div>
    <div>
      <a mat-list-item (click)="logout()">
        <i class="material-icons">logout</i>
        Logout
      </a>
    </div>
  </mat-nav-list>
</nav>

<div class="content">
  <!-- <button class="menu mat-elevation-z8" (click)="drawer.toggle()" mat-icon-button>
          <mat-icon>menu</mat-icon>
       </button> -->
  <router-outlet></router-outlet>
</div>
