@import "../../styles.scss";
.card {
    max-width: 400px;
    width:150px;
    margin: 10px;
    background-color:$color-gradient3;
    border-radius: 10px;
  }
  
.header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }

  :host{
   display: flex;
   flex-wrap: wrap;
}