.container{
    display: flex;
    flex-direction: row;
    
    height: 100%;
    width: 100%;
    padding-top: 100px;
}
.cardCart{
    background-color: rgb(255, 255, 255);
    margin: 0;
    flex-grow: 1;
    margin:0px 25px;
   
}

mat-card-title{
    text-align: center;
}
mat-card{
    /**height: 100%;*/
}

mat-card-content{
   display: flex;
   flex-direction: column;
   align-content: space-between;
   justify-content:space-between;
   
}

mat-card-actions{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.title{
    
}

