<div class="container">
  <div class="containerCart mat-elevation-z12">
    <mat-card>
      <mat-card-title>Carrinho</mat-card-title>
      <mat-card-content>
        <app-cart-item *ngFor="let item of games">
          <div class="title">{{item.name}}</div>
          <div class="price">{{item.price | currency:'BRL'}} </div>
          <div class="quantity">1</div>
        </app-cart-item>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
