/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

$color-gradient1: rgba(2,0,36,1);
$color-gradient2: rgb(54, 54, 54);
$color-gradient3: rgb(158, 158, 158);
